*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 1em; */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #2196f3, #b8f7ff);
}
nav{
    position: relative;
    top: -150px;
    width: 500px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu-toggle{
    position: relative;
    width: 50px;
    height: 50px;
    /* background-color: #ccc; */
}
.icon{
    font-size: 44px;
    line-height: 20px;
    width: 100px;
    cursor: pointer;
}

nav .profile{
position: relative;
display: flex;
justify-content: flex-end;
align-items: center;
cursor: pointer;
gap: 10;
}

nav .profile h3{
    text-align: end;
    font-weight: 600;
    line-height: 1em;
    color: #555;
}


nav .profile h3 span{
    font-size: 0.75em;
    color: #777;
}


nav .profile .img-box{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}


nav .profile .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


nav .menu{
    position: absolute;
    background-color: #fff;
    width: 200px;
    min-height: 150px;
    right: 0;
    top: calc(100% + 30px);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
    display: none;
    transition: 0.5s;

}


nav .menu.active{
    display: block;
}


nav .menu::after{
    content: "";
    position: absolute;
    right: 35px;
    top: -8px;
    background-color: #fff;
    width: 20px;
    min-height: 20px;
    transform: rotate(45deg);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
}

.menu ul li{
    list-style: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 1.1em;
}

.menu ul li:hover{
    background-color: #f5f5f5;
}

.menu ul li a{
    text-decoration: none;
    color: #666;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-icons{
    color: #666;
    font-size: 0.99em;
}